.footer_container {
  display: flex;
  padding: 40px 0px;
  background-color: var(--white);
  gap: 32px;
  box-shadow: 1px 1px 5px #808080;
  h2 {
    padding-bottom: 24px;
    color: var(--green);
  }
}

.footer-start_container {
  width: 30%;
}

.footer-middle_container {
  width: 40%;
}

.footer-end_container {
  width: 30%;
  padding-right: 16px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.footer-logo_container {
  height: 18em;
}

.footer-menu_container {
  padding-bottom: 12px;
  box-shadow: 0px 2px 0px var(--green);
}

.footer-menu_list {
  display: flex;
}

.footer-menu_col {
  flex: 1 0;
}

.footer-menu__item,
.footer-legal__item {
  padding: 8px 0px;
}

.footer-menu__link,
.footer-legal__link {
  color: black;
  font-size: 1.2em;
  font-weight: 600;
}

.footer-menu__link:hover, .footer-legal__link:hover {
  color: var(--yellow);
}

.footer-legal_container {
  padding-top: 12px;
}

.footer-legal--list {
  display: flex;
  flex-direction: column;
}

.footer-legal_row:first-of-type {
  display: flex;
  .footer-legal__item {
    flex: 1 0;
  }
}

.footer-legal_row:last-of-type {
  display: flex;
  justify-content: center;
  padding-top: 16px;
}

.footer-social-link--list {
  display: flex;
  justify-content: space-evenly;
}

.footer-contact--container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.fa-brands {
  color: black;
  font-size: 3rem;
}

.fa-brands:hover {
  color: var(--yellow);
}


/******************* FOOTER RESPONSIVE *************************/

@media screen and (max-width: 971px){
  .footer-container{
    gap: 3em;
  }
  .footer_container h2{
    text-align: center;
  }
  .footer-menu_list{
    justify-content:center;
    gap: 6em;
  }
  .footer-menu_col{
    flex:none;
  }
  .footer-legal_row{
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 856px){
  .footer_container{
    flex-wrap: wrap;
  }
  .footer-start_container{
    width: 100%;
  }
  .footer-middle_container, .footer-end_container{
    width: 46%;
    padding: 0em 4em;
  }
}

@media screen and (max-width: 787px){
  .footer_container{
    flex-direction: column;
    align-items: center;
  }
  .footer-start_container{
    margin-bottom: -2em;
  }
  .footer-logo_container{
    height:15em;
  }
  .footer-middle_container, .footer-end_container{
    width: 100%;
  }
}
