.prices-page_container {
  .title_container {
    display: flex;
    justify-content: center;
  }
}

.prices-card_container {
  margin-top: 2em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 32px;
}

.prices-card,
.prices-tables_container,
.tables_container {
  display: flex;
  flex-direction: column;
}

.prices-card {
  flex: 1 0;
  max-width: 22em;
  align-items: center;
  gap: 16px;
  border: 1px solid var(--grey);
  box-shadow: 1px 1px 5px var(--grey);
  border-radius: 8px;
  padding: 44px;
  background-color: var(--white);
  transition: transform 0.3s ease;
  h3 {
    color: var(--blue);
    font-weight: bold;
    font-size: 2.2rem;
  }
  p:last-of-type {
    display: flex;
    gap: 8px;
  }
  span {
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--blue);
  }
}

.prices-card:hover {
  transform: scale(1.05);
}

.prices-tables_container {
  margin-top: 2em;
  .tables_container {
    margin-top: 2em;
    align-items: center;
    gap: 48px;
  }
  table {
    width: 50%;
    border-collapse: collapse;
    border: 1px solid var(--grey);
    caption {
      font-weight: bold;
      background-color: var(--white);
      border: 1px solid var(--grey);
      padding: 24px;
    }
    thead {
      background-color: var(--yellow);
      th {
        text-align: left;
        padding: 8px;
      }
    }
    tbody tr {
      background: var(--white);
      td:last-child {
        text-align: right;
      }
    }
    tbody tr:nth-child(2n) {
      background-color: var(--grey);
    }
    td {
      padding: 8px;
    }
  }
}

.prices-info_container {
  margin-top: 4em;
}

/******************* PRICES RESPONSIVE *************************/

@media screen and (max-width: 1099px) {
  .prices-card_container {
    justify-content: center;
  }
  .prices-card {
    min-width: 33em;
  }
}

@media screen and (max-width: 572px) {
  .prices-card {
    min-width: 18em;
  }
}
