<h1>Bienvenue dans notre club !</h1>

<p>
    Vous pouvez maintenant vous connecter à notre site web et poster des commentaires sur notre blog.
    
    Afin de finaliser votre inscription, merci de confirmer votre adresse mail en cliquant sur le lien suivant: <br><br>
    <a href="{{ signedUrl }}">Confirmer mon adresse mail</a>.
    Ce lien expire dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    A bientôt !
</p>
