{% extends 'base.html.twig' %} 

{% block title %}Réinitialisation du mot de passe{% endblock %} 

{% block body %}

<div class="global-container">
    <div class="check-email_container">
<p>
    Un e-mail vient d'être envoyé à votre adresse avec un lien que vous pourrez utiliser pour
    réinitialiser votre mot de passe. Ce lien expirera dans
    {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle')

    }}.
</p>
<p>
    Si vous ne recevez pas d'e-mail, veuillez vérifier votre dossier spam ou
    <a href="{{ path('app_forgot_password_request') }}"> renvoyer un email</a>.
</p>
</div>
</div>
<div class="mountain-background"></div>

{% endblock %}
