<footer class="footer">
    <div class="footer_container">
        <div class="footer-start_container">
            <div class="footer-logo_container adaptive-img--contain">
                <span>
                    <img
                        src="{{ asset('assets/images/logo.png') }}"
                        alt="logo"
                    />
                </span>
            </div>
        </div>
        <div class="footer-middle_container">
            <section class="footer-menu">
                <div class="footer-menu_container">
                    <h2>Menu</h2>
                    <div class="footer-menu_list">
                        <ul class="footer-menu_col">
                            <li class="footer-menu__item">
                                <a href="/" class="footer-menu__link"
                                    >Accueil</a
                                >
                            </li>
                            <li class="footer-menu__item">
                                <a href="/about" class="footer-menu__link"
                                    >A propos</a
                                >
                            </li>
                            <li class="footer-menu__item">
                                <a href="/activities" class="footer-menu__link"
                                    >Activités</a
                                >
                            </li>
                        </ul>
                        <ul class="footer-menu_col">
                            <li class="footer-menu__item">
                                <a href="/articles" class="footer-menu__link"
                                    >Blog</a
                                >
                            </li>
                            <li class="footer-menu__item">
                                <a href="/prices" class="footer-menu__link"
                                    >Tarifs</a
                                >
                            </li>
                            <li class="footer-menu__item">
                                <a href="/contact" class="footer-menu__link"
                                    >Contact</a
                                >
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="footer-legal_container">
                    <div class="footer-legal--list">
                        <ul class="footer-legal_row">
                            <li class="footer-legal__item">
                                <a href="#" class="footer-legal__link"
                                    >Mentions légales</a
                                >
                            </li>
                            <li class="footer-legal__item">
                                <a href="#" class="footer-legal__link"
                                    >Politique de confidentialité</a
                                >
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
        </div>
        <div class="footer-end_container">
            <section class="footer-social-link">
                <div class="footer-sociallink_container">
                    <h2>Suivez-nous sur les réseaux</h2>
                    <ul class="footer-social-link--list">
                        <li class="footer-social-link__item">
                            <a href="https://fr-fr.facebook.com/">
                                <i class="fa-brands fa-facebook-f"></i>
                            </a>
                        </li>
                        <li class="footer-social-link__item">
                            <a href="https://twitter.com/?lang=fr">
                                <i class="fa-brands fa-twitter"></i>
                            </a>
                        </li>
                        <li class="footer-social-link__item">
                            <a href="https://www.instagram.com/?hl=fr">
                                <i class="fa-brands fa-instagram"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </section>
            <div class="footer-contact">
                <div class="footer-contact--container">
                    <p>
                        Si vous avez des questions ou besoin d'un renseignement,
                        vous pouvez également utiliser notre formulaire de
                        contact
                    </p>
                    <div class="contact-btn_container">
                        <a href="/contact" class="button">Contactez-nous</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
