{% extends 'base.html.twig' %} {% block title %}Modifier la Categorie{% endblock
%} {% block body %}
<div class="global-container">
  <h1>Modifier la catégorie</h1>
  <div class="category-form_container edit-category_container">
    <div class="admin-btn_container">
    {{ include("categories/_form.html.twig", { button_label: "Editer" }) }}
  </div>
  </div>
  <div class="admin-btn_container">
    <a href="{{ path('app_categories_index') }}">Retour</a>
  </div>
<!--   {{ include("categories/_delete_form.html.twig") }} -->
</div>
{% endblock %}
