{% extends 'base.html.twig' %} 

{% block title %}Nouvelle Catégorie{% endblock %}

{% block body %}

<div class="global-container">
    <h1>Créer une nouvelle catégorie</h1>
    <div class="category-form_container new-category_container">
        <div class="admin-btn_container">
            {{ include("categories/_form.html.twig") }}
        </div>
    </div>
    
    <div class="admin-btn_container">
        <a href="{{ path('app_categories_index') }}">Retour</a>
    </div>
</div>

{% endblock %}
