{% extends 'base.html.twig' %} {% block title %}Connexion{% endblock %} {# ...
#} 

{% block body %} 

{% if error %}
<div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<div class="login-page_container">
    <div class="global-container">
        <div class="login-form_container">
            <h1>S'identifier</h1>
            <form class="form" action="{{ path('app_login') }}" method="post">
                <div class="form-field">
                    <!-- <label for="username">Email : </label> -->
                    <span class="fa-solid fa-envelope form-icon"></span>
                    <input
                        class="form-input"
                        type="text"
                        id="username"
                        name="_username"
                        placeholder="Votre email"
                        value="{{ last_username }}"
                    />
                </div>
                <div class="form-field">
                    <!--  <label for="password">Mot de passe :</label> -->
                    <span class="fa-solid fa-lock form-icon"></span>
                    <input
                        class="form-input password-input"
                        type="password"
                        id="password"
                        name="_password"
                    />
                </div>

                {# Redirection after login #}
                <input type="hidden" name="_target_path" value="/" />

                <button class="submit-btn submit-btn_login" type="submit">
                    <i class="fa-solid fa-circle-arrow-right"></i>
                </button>
            </form>
            <div class="form-info">
                {% if not app.user %}
                <a href="{{ path('app_forgot_password_request') }}"
                    >Mot de passe oublié ?</a
                >
                <p>
                    Si vous n'êtes pas encore inscrit, vous pouvez
                    <a href="/register">créer un compte</a>
                </p>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
