{% extends 'base.html.twig' %} {% block title %}Blog{% endblock %} 

{% block body %}

<div class="blog-page_container">
    <div class="global-container">
        <h1>Blog</h1>
    <div class="blog-articles-cards_container">
        {% for article in articles %}
      
        <article class="blog-article-card">
            <div class="article-card_picture adaptive-img--contain">
                <span>
                    <img
                        src="{{asset('uploads/articles/'~article.picture)}}"
                        alt="image de l'article"
                    />
                </span>
            </div>
            <div class="article-card_info">
                <div class="article-card_title">
                    {{ article.title }}
                </div>
                <div class="article-card_date">
                    {{ article.publishedDate ? article.publishedDate|date('d-m-Y', 'Europe/Paris') : '' }}
                </div>

                <div class="blog-btn_container">
                    <div>
                        <a
                            href="{{
                                path('app_articles_show', { id: article.id })
                            }}"
                            >Voir l'article</a
                        >
                    </div>
                </div>
            </div>
        </article>

        {% endfor %}
    </div>
</div>
{% endblock %}
