<form
  method="post"
  action="{{ path('app_articles_delete', { id: article.id }) }}"
  onsubmit="return confirm('Etes-vous sûr de vouloir supprimer cet article ?');"
>
  <input
    type="hidden"
    name="_token"
    value="{{ csrf_token('delete' ~ article.id) }}"
  />
  {% if is_granted('ROLE_ADMIN') %}

  <button class="btn">Supprimer</button>

  {% endif %}
</form>
