.general-content_container{
    padding: 32px 0px 48px 0px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    h2{
        color: #428a13;
    }
    p{
        line-height: 1.6em;
        text-align:justify;
    };
}

.content_container{
    display:flex;
}

.column{
    flex: 1 0;
}

.about-picture{
    height: 18em;
}

.about-page_container{
    padding: 3em;
    .title_container{
        display: flex;
        justify-content: center;
    }
h1{
    margin: 16px 0px;
    position: relative;
    display: inline;
}
h1::after{
    content: '';
    position: absolute;
    bottom: 2px;
    left: 0;
    background-color:#f5d24b;
    height: 2px;
    width: 100%;
    z-index: -5;
}
}