/* New Article */

.article-admin-page_container {
  display: flex;
}

.article-admin-form_container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.article-admin-form_container form {
  width: 50em;
  background-color: #fefefe;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px;
  border-radius: 8px;
  box-shadow: 2px 2px 8px black;

  div {
    display: flex;
    flex-direction: column;
    gap: 12px;

    .new-article_input {
      padding: 4px;
      border: none;
      background: white;
      box-shadow: 1px 1px 3px black;
      resize: none;
    }
    .new-article_input:focus {
      outline: none;
      box-shadow: 1px 1px rgba(245, 210, 75, 0.5),
        -1px -1px rgba(245, 210, 75, 0.8);
    }
    #articles_category {
      display: flex;
      flex-direction: row;
      gap: 12px;
    }
  }
}

.article-action_button {
  color: #fff;
  background-color: #222;
  text-transform: uppercase;
  margin: 0 auto;
  padding: 16px 24px;
  border-radius: 24px;
  transition: 0.5s;
  cursor: pointer;
  font-family: inherit;
}

.article-action_button:hover {
  color: rgba(255, 255, 255, 1);
  background-color: #428a13;
  /*   background-position: -100% 100%; */
}

.return-btn_container {
  display: flex;
  justify-content: flex-start;
  padding: 20px 0px;
  a,
  button {
    font-weight: bold;
    padding: 8px;
    color: #428a13;
    background: #fefefe;
    border: 1px solid #428a13;
    border-radius: 10px;
    transition: 0.5s;
    cursor: pointer;
  }
  a:hover,
  button:hover {
    color: #fefefe;
    background-color: #428a13;
  }
}

/* Edit Article */

.article-admin-edit-form {
  padding-bottom: 24px;
}
