/* Show Articles */

.article_container {
  display: flex;
  flex-direction: column;
  background: #fefefe;
  padding-top: 16px;
  margin-top: 16px;
}

.article-image {
  height: 38em;
}

.article_title,
.comments_title {
  text-align: center;
}

.article_info {
  display: flex;
  gap: 16px;
  flex-direction: column;
  align-items: center;
}

.categories_container {
  display: flex;
  gap: 20px;
}

.show_categories {
  background: rgba(245, 210, 75, 0.6);
  padding: 8px;
}

.article_author-date {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
}

.article-content_container {
  display: flex;
  justify-content: center;
  padding-top: 40px;
  p {
    line-height: 1.6em;
  }
}

.article-return_container {
  display: flex;
  justify-content: center;
}

.edit-or-delete_container {
  padding-top: 24px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 24px;
}

/* Comments */

.comments-section_container {
  margin-top: 48px;
  padding-top: 40px;
  background: #fefefe;
  border-top: 1px solid black;
}

.comments_container {
  display: flex;
  padding: 16px 0px 92px 0px;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.comment {
  width: 684px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: center;
  gap: 8px;
  /*  background: #e5e6eb; */
  background: rgba(102, 173, 220, 0.4);
  padding: 24px 0px;
  border-radius: 4px;
  margin-top: 24px;
}

.comment_info {
  width: 70%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 4px;
  box-shadow: 0px 2px 0px black;
}

.comment_content {
  width: 68%;
  display: flex;
}

.comment-input {
  width: 52em;
  height: 13em;
  resize: none;
}

.comment-submit_container {
  display: flex;
  padding-top: 8px;
}

// Index Articles

.articles-cards_container {
  display: flex;
  justify-content: space-evenly;
  padding: 48px 0px;
  gap: 48px;
}

.article-card {
  height: 32em;
  padding: 24px;
  background: #fefefe;
  border-radius: 24px;
  box-shadow: 5px 5px 5px solid black;
  cursor: grab;
}

.tns-item{
  box-shadow: 1px 1px 5px #ddd;
  width: 24em;
}

.article-card_picture {
  height: 13em;
/*   width: 21em; */
}

.article-card_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 16px 0px;
  .article-card_title{
    font-weight: bold;
  }
  .return-btn_container{
      display:flex;
      flex-direction: column;
      gap:16px;
      text-align:center;
      a{
        text-transform: uppercase;
      } 
  }
}

.article-card_button {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.article-card_button a {
  color: #fff;
  background-color: #222;
  text-transform: uppercase;
  padding: 16px 40px;
  border-radius: 3px;
  transition: 0.5s;
}

.article-card_button a:hover {
  color: rgba(255, 255, 255, 1);
  background-color: #428a13;
  /*   background-position: -100% 100%; */
}

.tns-visually-hidden{
  display: none;
}
