/* INDEX COMMENTS */

.index-edit_btn {
  display: flex;
  align-items: center;
}

/* SHOW COMMENT*/

.table-show_comment {
  outline: 1px solid #ddd;
}

/* EDIT COMMENT */

.edit-comment-form_container {
  display: flex;
  justify-content: center;
  form textarea {
    gap: 8px;
    border-radius: 4px;
  }
  form textarea:focus{
  outline: none;
  border: none;
  box-shadow: 1px 1px rgba(66, 138, 19, 1),
        -1px -1px rgba(66, 138, 19, 1);
  }
  .article-action_button{
    font-weight: bold;
    padding: 8px;
    color: #428a13;
    background: #fefefe;
    border: 1px solid #428a13;
    border-radius: #428a13;
    transition: 0.5s;
  }
  .article-action_button:hover{
    color: #fefefe;
    background-color: #428a13;
  }
  }


