/******************* FORMS GENERAL *************************/

.login-page_container,
.register-page_container {
  display: flex;
  align-items: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.login-form_container,
.register-form_container form {
  background-color: rgba(243, 243, 243, 0.98);
  border-radius: 8px;
  box-shadow: 2px 2px 8px black;
}

.login-form_container form,
.register-form_container form {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

.form-input {
  padding: 4px;
  width: 240px;
  background: #fefefe;
  border: 1px solid #dadada;
  border-left: none;
}
.form-input:focus {
  outline: none;
}

.submit-btn {
  width: 44px;
  border-radius: 26px;
  height: 46px;
  position: absolute;
  background-color: #fefefe;
  border: none;
  cursor: pointer;
  box-shadow: 1px 1px 3px black;
  .fa-circle-arrow-right {
    font-size: 3rem;
    color: #428a13;
  }
}

.submit-btn:hover {
  box-shadow: 2px 1px 2px black;
  .fa-circle-arrow-right {
    color: #f5d24b;
  }
}

/******************* LOGIN FORM *************************/

.login-page_container {
  height: 56em;
  background-image: url("../images/login_background.jpg");
}

.login-form_container {
  height: 17em;
  margin-bottom: 3em;
  h1 {
    text-align: center;
    padding-top: 16px;
  }
  form {
    width: 342px;
    height: 72px;
    margin: 0 auto;
  }
  .form-field {
    display: flex;
    position: relative;
  }
  .form-field:first-of-type {
    padding-top: 16px;
  }
  .form-icon {
    display: flex;
    justify-content: center;
    width: 27px;
    padding: 6px;
    background-color: #fefefe;
    border: 1px solid #dadada;
    border-right: none;
    color: #428a13;
  }
}

.submit-btn_login {
  left: 318px;
  top: 32px;
}

.form-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 40px;
  p {
    text-align: center;
  }
}

.form-info a {
  color: #428a13;
  font-weight: bold;
}

/******************* REGISTER FORM *************************/

.register-page_container {
  height: 60em;
  background-image: url("../images/register_background.jpg");
}

.register-form_container form {
  height: 36em;
  width: 24em;
  padding: 24px;
  div {
    display: flex;
    flex-direction: column;
    gap: 8px;
    label {
      color: #428a13;
      font-weight: bold;
    }
    input {
      border: 1px solid #dadada;
    }
  }
  div:last-of-type {
    flex-direction: row;
    label {
      color: #66addc;
    }
  }
}

.submit-btn_register {
  left: 13em;
  top: 37em;
}

/******************* RESPONSIVE FORM *************************/

@media screen and (max-width: 480px) {
  .login-form_container {
    width: 18em;
    height: 22em;
    form {
      width: 288px;
    }
    .form-input {
      width: 218px;
    }
    .form-info {
      padding: 7em 1em 2em 1em;
    }
  }
  .submit-btn_login {
    left: 128px;
    top: 114px;
  }

  .register-form_container form {
    width: 18em;
    height: 38em;
    h1 {
      text-align: center;
    }
  }
  .submit-btn_register {
    left: 9em;
    top: 40em;
  }
}
