/* RESET PASSWORD GENERAL */

.reset-password_container,
.reset-password-form_container form {
  display: flex;
  gap: 16px;
}

/* RESET PASSWORD */

.reset-password_container {
  flex-direction: column;
}

.reset-password-form_container form {
  position: relative;
  div {
    display: flex;
    gap: 8px;
    label {
      color: var(--green);
      font-weight: bold;
      display: flex;
      align-items: center;
    }
    input {
      width: 24em;
      height: 1.8em;
      padding: 4px;
      background: var(--white);
      border: 1px solid #dadada;
    }
    input:focus {
      outline: none;
      box-shadow: 1px 1px rgba(66, 138, 19, 0.8),
        -1px -1px rgba(66, 138, 19, 0.8);
    }
  }
  .submit-btn {
    width: 2.6em;
    height: 2.6em;
    top: -0.5em;
    left: 28.2em;
    .fa-circle-arrow-right {
      font-size: 2.2rem;
    }
  }
}

.check-email_container{
  padding-top: 10em;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.reset-pw_container {
  padding: 2em 0em 18em 0em;
  form{
  display: flex;
  flex-direction: column;
  }
  li{
    /* Messages d'erreurs */
    font-weight: bold;
    color: #D10000;
  };
  .contact-btn_container{
    justify-content: flex-start;
  }
}
