@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tapestry&display=swap");
*,
::after,
::before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

html {
  line-height: 1.15;
  box-sizing: border-box;
  font-family: sans-serif;
  scroll-behavior: smooth;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

a {
  background-color: transparent;
}

abbr[title] {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

button,
input,
optgroup,
select,
textarea {
  line-height: inherit;
  border: 1px solid currentColor;
}

button {
  overflow: visible;
  text-transform: none;
}

[type=button],
[type=reset],
[type=submit],
button {
  -webkit-appearance: button;
  padding: 1px 6px;
}

input {
  overflow: visible;
}

input,
textarea {
  padding: 1px;
}

fieldset {
  border: 1px solid currentColor;
  margin: 0 2px;
}

legend {
  color: inherit;
  display: table;
  max-width: 100%;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

select {
  text-transform: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=color] {
  background: inherit;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.5;
}

::-webkit-file-upload-button,
::-webkit-search-decoration {
  -webkit-appearance: button;
  font: inherit;
}

::-moz-focus-inner {
  border: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

hr {
  box-sizing: content-box;
  height: 0;
  color: inherit;
  overflow: visible;
}

dl dl,
dl ol,
dl ul,
ol dl,
ol ol,
ol ul,
ul dl,
ul ol,
ul ul {
  margin: 0;
}

b,
strong {
  font-weight: bolder;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

table {
  text-indent: 0;
  border-color: inherit;
}

details {
  display: block;
}

dialog {
  background-color: inherit;
  border: solid;
  color: inherit;
  display: block;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  left: 0;
  margin: auto;
  padding: 1em;
  position: absolute;
  right: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

dialog:not([open]) {
  display: none;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

*[class*=adaptive-img] {
  position: relative;
}

*[class*=adaptive-img] > span,
*[class*=adaptive-img] > span > img {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0;
  border: none;
  display: block;
  position: absolute;
  box-sizing: border-box;
}

*[class*=adaptive-img] > span {
  margin: 0;
  opacity: 1;
  width: initial;
  height: initial;
  overflow: hidden;
  background: none;
}

*[class*=adaptive-img] > span > img {
  width: 0;
  height: 0;
  margin: auto;
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
}

.adaptive-img--cover > span > img {
  object-fit: cover;
}

.adaptive-img--contain > span > img {
  object-fit: contain;
}

:root {
  --green: #428a13;
  --yellow: #f5d24b;
  --blue: #66addc;
  --white: #fefefe;
  --grey: #ddd;
  --pale-grey: rgba(243, 243, 243, 0.6);
}

html {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* position: fixed; */
  font-size: 62.5%;
}

body {
  flex: 1 0;
  font-size: 1.6rem;
  font-family: "Nunito", Verdana, sans-serif;
  font-weight: 400;
  overflow-x: hidden;
}

/* 
html,
body {
  overflow: auto;
} */
ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/******************* TITLES *************************/
h1,
.main-nav__link {
  font-weight: 400;
  font-family: "Tapestry", cursive;
}

.about-page_container h1,
.activities-page_container h1,
.blog-page_container h1,
.prices-page_container h1 {
  font-size: 3.2rem;
  margin: 16px 0px;
  position: relative;
  display: inline;
  text-align: center;
}
.about-page_container h1::after,
.activities-page_container h1::after,
.blog-page_container h1::after,
.prices-page_container h1::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  background-color: var(--yellow);
  height: 2px;
  width: 100%;
}

.about-page_container h2,
.activities-page_container h2,
.prices-page_container h2 {
  color: var(--green);
}

/******************* CONTAINERS *************************/
.global-container {
  margin: 0 auto;
  max-width: 1400px;
  padding: 0px 16px;
}

.about-page_container,
.activities-page_container,
.blog-page_container,
.prices-page_container {
  margin: 3em 0em 3em 0em;
}

/******************* BACKGROUNDS *************************/
.about-page_container,
.activities-page_container,
.article-admin-page_container,
.blog-page_container,
.to-about_container,
.home-soon_container,
.home-blog_container,
.prices-page_container {
  background-color: var(--white);
  background-image: url("../images/background-body.png");
}

.mountain-background {
  height: 15em;
  background-image: url("../images/mountain-background.png");
  background-position: center;
  background-size: contain;
  background-repeat: repeat;
}

/******************* BUTTONS *************************/
.yellow-btn_container {
  padding-top: 1.5em;
}
.yellow-btn_container a {
  padding: 12px;
  background-color: rgba(245, 210, 75, 0.7);
  color: black;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease 0s;
}
.yellow-btn_container a:hover {
  background-color: var(--yellow);
  color: black;
}

.admin-btn_container {
  display: flex;
  justify-content: flex-start;
  padding: 20px 0px;
}
.admin-btn_container a,
.admin-btn_container button {
  font-weight: bold;
  padding: 16px;
  color: var(--green);
  background: var(--white);
  border: 1px solid var(--green);
  border-radius: 10px;
  transition: 0.5s;
  cursor: pointer;
}
.admin-btn_container .btn {
  margin: 0 auto;
}
.admin-btn_container a:hover,
.admin-btn_container button:hover {
  color: var(--white);
  background-color: var(--green);
}

.blog-btn_container {
  display: flex;
  justify-content: center;
}
.blog-btn_container button {
  border: none;
  cursor: pointer;
}
.blog-btn_container a,
.blog-btn_container button {
  padding: 12px;
  color: black;
  background-color: #f7db6e;
  font-weight: 600;
  border-radius: 4px;
  border: 1px solid #e7e7e7;
  transition: 0.5s ease;
}
.blog-btn_container a:hover,
.blog-btn_container button:hover {
  color: black;
  background-color: var(--yellow);
}

.contact-btn_container {
  display: flex;
  justify-content: center;
}
.contact-btn_container .btn {
  border: none;
  cursor: pointer;
}
.contact-btn_container .button,
.contact-btn_container .btn {
  padding: 12px;
  color: white;
  background-color: var(--green);
  font-weight: bold;
  border-radius: 4px;
  box-shadow: 0px 1px 1px black;
  transition: 0.5s ease;
}
.contact-btn_container .button:hover,
.contact-btn_container .btn:hover {
  color: black;
  background-color: var(--yellow);
}

/******************* ANIMATIONS *************************/
.js-scroll {
  opacity: 0;
}

.js-scroll.scrolled {
  opacity: 1;
}

.scrolled.slide-left {
  animation: slide-in-left 1s ease-in-out both;
}

@keyframes slide-in-left {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.hidden {
  opacity: 0;
}

.visible {
  opacity: 1;
  transition: opacity 1s ease-in;
}

/******************* MAIN MENU *************************/
.header {
  height: 128px;
}

.bar_container {
  display: flex;
  justify-content: space-evenly;
  box-shadow: 0px 4px 2px -2px #808080;
  position: fixed;
  z-index: 1000;
  background: var(--white);
  width: 100%;
}

.bar_container.sticky {
  opacity: 0.95;
}

.main-nav_container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--white);
}

.main-nav {
  display: flex;
  align-items: center;
}

.logo_container {
  height: 8em;
  width: 8em;
  top: 8px;
}

.main-nav_list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding: 24px;
  gap: 32px;
}

.main-nav__link {
  position: relative;
  color: black;
  transition: color 0.5s;
  font-size: 2.6rem;
  font-weight: bold;
}

.main-nav__link:hover {
  color: var(--green);
}

.main-nav__link::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  border: 0.5px solid var(--yellow);
  opacity: 0;
  transition: 0.5s;
}

.main-nav__link:hover::before {
  opacity: 0.7;
}

.main-nav__submenu {
  display: none;
}

.fa-circle-user {
  font-size: 2.8rem;
  transition: color 0.5s;
  color: var(--yellow);
}

.fa-circle-user:hover {
  color: var(--green);
}

.submenu_container {
  display: none;
  background-color: var(--white);
  box-shadow: 0px 0px 4px #808080;
  z-index: 100;
}

.submenu_list {
  display: flex;
  flex-direction: column;
}

.subemenu_item {
  position: relative;
}

.main-nav__item:hover .submenu_container {
  display: block;
  position: absolute;
  top: 56px;
  right: -134px;
  width: 222px;
}

.hello-user_container {
  padding-left: 5em;
  display: flex;
  align-items: center;
  gap: 16px;
}

.hello_user span {
  font-weight: bold;
  color: var(--green);
}

.admin__item {
  position: absolute;
  top: 3.8em;
  left: 48em;
  cursor: pointer;
  font-weight: bold;
}
.admin__item .main-nav__link {
  color: var(--blue);
}

.submenu-admin_container {
  display: none;
  background-color: var(--white);
  box-shadow: 0px 0px 4px #808080;
  z-index: 100;
}

.main-nav__item:hover .submenu-admin_container {
  display: block;
  position: absolute;
  top: 30px;
  right: -40px;
  width: 222px;
}

.hamburger-menu_nav {
  display: none;
}

/******************* HAMBURGER MENU *************************/
.hamburger,
.to-the-top {
  position: fixed;
  z-index: 100;
  right: 1rem;
  padding: 18px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0px 0px 1px;
}

.hamburger {
  top: 1rem;
  background: var(--green);
}
.hamburger .close-icon {
  display: none;
}

.to-the-top {
  top: 7rem;
  background: var(--yellow);
}

.to-the-top {
  display: none;
}

.hamburger-menu {
  position: fixed;
  transform: translateX(-100%);
  transition: transform 0.2s;
  width: 30%;
  min-width: 265px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background-color: rgba(243, 243, 243, 0.96);
  list-style: none;
  padding-top: 2rem;
  box-shadow: 1px 0px 3px black;
}

.hamburger-menu_item {
  display: block;
  margin: 2rem 4rem;
  font-weight: 400;
  font-family: "Tapestry", cursive;
  font-size: 2.4rem;
  color: black;
  text-decoration: none;
  outline: none;
}

.hamburger-menu_item:hover {
  color: var(--green);
}

.showHamburgerMenu {
  transform: translateX(0);
}

.user-block_mobile {
  margin: 6em 1em;
  padding: 18px 0px;
  border-radius: 28px;
  background: rgba(245, 210, 75, 0.7);
}
.user-block_mobile .hello-user_container {
  padding: 0em 4em;
  font-size: 2rem;
}

.hamburger-menu, .hamburger, .to-the-top {
  z-index: 2000;
}

/******************* RESPONSIVE NAVBAR *************************/
@media screen and (max-width: 1079px) {
  .bar_container {
    position: relative;
    justify-content: center;
  }

  .main-nav_list {
    display: none;
  }

  .hamburger-menu_nav {
    display: block;
  }
}
.footer_container {
  display: flex;
  padding: 40px 0px;
  background-color: var(--white);
  gap: 32px;
  box-shadow: 1px 1px 5px #808080;
}
.footer_container h2 {
  padding-bottom: 24px;
  color: var(--green);
}

.footer-start_container {
  width: 30%;
}

.footer-middle_container {
  width: 40%;
}

.footer-end_container {
  width: 30%;
  padding-right: 16px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.footer-logo_container {
  height: 18em;
}

.footer-menu_container {
  padding-bottom: 12px;
  box-shadow: 0px 2px 0px var(--green);
}

.footer-menu_list {
  display: flex;
}

.footer-menu_col {
  flex: 1 0;
}

.footer-menu__item,
.footer-legal__item {
  padding: 8px 0px;
}

.footer-menu__link,
.footer-legal__link {
  color: black;
  font-size: 1.2em;
  font-weight: 600;
}

.footer-menu__link:hover {
  color: var(--yellow);
}

.footer-legal_container {
  padding-top: 12px;
}

.footer-legal--list {
  display: flex;
  flex-direction: column;
}

.footer-legal_row:first-of-type {
  display: flex;
}
.footer-legal_row:first-of-type .footer-legal__item {
  flex: 1 0;
}

.footer-legal_row:last-of-type {
  display: flex;
  justify-content: center;
  padding-top: 16px;
}

.footer-social-link--list {
  display: flex;
  justify-content: space-evenly;
}

.footer-contact--container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.fa-brands {
  color: black;
  font-size: 3rem;
}

.fa-brands:hover {
  color: var(--yellow);
}

/******************* FOOTER RESPONSIVE *************************/
@media screen and (max-width: 971px) {
  .footer-container {
    gap: 3em;
  }

  .footer_container h2 {
    text-align: center;
  }

  .footer-menu_list {
    justify-content: center;
    gap: 6em;
  }

  .footer-menu_col {
    flex: none;
  }

  .footer-legal_row {
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 856px) {
  .footer_container {
    flex-wrap: wrap;
  }

  .footer-start_container {
    width: 100%;
  }

  .footer-middle_container, .footer-end_container {
    width: 46%;
    padding: 0em 4em;
  }
}
@media screen and (max-width: 787px) {
  .footer_container {
    flex-direction: column;
    align-items: center;
  }

  .footer-start_container {
    margin-bottom: -2em;
  }

  .footer-logo_container {
    height: 15em;
  }

  .footer-middle_container, .footer-end_container {
    width: 100%;
  }
}
/* RESET PASSWORD GENERAL */
.reset-password_container,
.reset-password-form_container form {
  display: flex;
  gap: 16px;
}

/* RESET PASSWORD */
.reset-password_container {
  flex-direction: column;
}

.reset-password-form_container form {
  position: relative;
}
.reset-password-form_container form div {
  display: flex;
  gap: 8px;
}
.reset-password-form_container form div label {
  color: var(--green);
  font-weight: bold;
  display: flex;
  align-items: center;
}
.reset-password-form_container form div input {
  width: 24em;
  height: 1.8em;
  padding: 4px;
  background: var(--white);
  border: 1px solid #dadada;
}
.reset-password-form_container form div input:focus {
  outline: none;
  box-shadow: 1px 1px rgba(66, 138, 19, 0.8), -1px -1px rgba(66, 138, 19, 0.8);
}
.reset-password-form_container form .submit-btn {
  width: 2.6em;
  height: 2.6em;
  top: -0.5em;
  left: 28.2em;
}
.reset-password-form_container form .submit-btn .fa-circle-arrow-right {
  font-size: 2.2rem;
}

/******************* FORMS GENERAL *************************/
.login-page_container,
.register-page_container {
  display: flex;
  align-items: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.login-form_container,
.register-form_container form {
  background-color: rgba(243, 243, 243, 0.98);
  border-radius: 8px;
  box-shadow: 2px 2px 8px black;
}

.login-form_container form,
.register-form_container form {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

.form-input {
  padding: 4px;
  width: 240px;
  background: var(--white);
  border: 1px solid #dadada;
  border-left: none;
}

.form-input:focus {
  outline: none;
}

.submit-btn {
  width: 44px;
  border-radius: 26px;
  height: 46px;
  position: absolute;
  background-color: var(--white);
  border: none;
  cursor: pointer;
  box-shadow: 1px 1px 3px black;
}
.submit-btn .fa-circle-arrow-right {
  font-size: 3rem;
  color: var(--green);
}

.submit-btn:hover {
  box-shadow: 2px 1px 2px black;
}
.submit-btn:hover .fa-circle-arrow-right {
  color: var(--yellow);
}

/******************* LOGIN FORM *************************/
.login-page_container {
  height: 56em;
  background-image: url("../images/login_background.jpg");
}

.login-form_container {
  height: 17em;
  margin-bottom: 3em;
}
.login-form_container h1 {
  text-align: center;
  padding-top: 16px;
}
.login-form_container form {
  width: 342px;
  height: 72px;
  margin: 0 auto;
}
.login-form_container .form-field {
  display: flex;
  position: relative;
}
.login-form_container .form-field:first-of-type {
  padding-top: 16px;
}
.login-form_container .form-icon {
  display: flex;
  justify-content: center;
  width: 27px;
  padding: 6px;
  background-color: var(--white);
  border: 1px solid #dadada;
  border-right: none;
  color: var(--green);
}

.submit-btn_login {
  left: 318px;
  top: 32px;
}

.form-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 40px;
}
.form-info p {
  text-align: center;
}

.form-info a {
  color: var(--green);
  font-weight: bold;
}

/******************* REGISTER FORM *************************/
.register-page_container {
  height: 60em;
  background-image: url("../images/register_background.jpg");
}

.register-form_container form {
  height: 36em;
  width: 24em;
  padding: 24px;
}
.register-form_container form div {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.register-form_container form div label {
  color: var(--green);
  font-weight: bold;
}
.register-form_container form div input {
  border: 1px solid #dadada;
}
.register-form_container form div:last-of-type {
  flex-direction: row;
}
.register-form_container form div:last-of-type label {
  color: var(--blue);
}

.submit-btn_register {
  left: 13em;
  top: 37em;
}

/******************* RESPONSIVE FORM *************************/
@media screen and (max-width: 480px) {
  .login-form_container {
    width: 18em;
    height: 22em;
  }
  .login-form_container form {
    width: 288px;
  }
  .login-form_container .form-input {
    width: 218px;
  }
  .login-form_container .form-info {
    padding: 7em 1em 2em 1em;
  }

  .submit-btn_login {
    left: 128px;
    top: 114px;
  }

  .register-form_container form {
    width: 18em;
    height: 38em;
  }
  .register-form_container form h1 {
    text-align: center;
  }

  .submit-btn_register {
    left: 9em;
    top: 40em;
  }
}
/******************* ARTICLES GENERAL *************************/
.article_container,
.article_info,
.categories_container,
.article_author-date,
.article-content_container,
.article-return_container,
.edit-or-delete_container {
  display: flex;
}

.article_info,
.article_author-date {
  flex-direction: column;
  align-items: center;
}

.article-content_container,
.article-return_container,
.edit-or-delete_container {
  justify-content: center;
}

/******************* ARTICLES *************************/
.article_container {
  flex-direction: column;
  background: var(--white);
  padding-top: 16px;
  margin-top: 16px;
}

.article-image {
  height: 36em;
}

.article_title,
.comments_title {
  text-align: center;
}

.article_info {
  gap: 16px;
}

.categories_container {
  gap: 20px;
}

.show_categories {
  background: rgba(245, 210, 75, 0.6);
  padding: 8px;
}

.article_author-date {
  gap: 8px;
}

.article-content_container {
  padding-top: 40px;
}
.article-content_container p {
  line-height: 1.6em;
}

.edit-or-delete_container {
  padding-top: 24px;
  margin: 0 auto;
  gap: 24px;
}

/******************* COMMENTS GENERAL *************************/
.comments_container,
.comment,
.comment_info,
.comment_content,
.comment-submit_container {
  display: flex;
}

.comments_container,
.comment {
  flex-direction: column;
  align-items: center;
}

/******************* COMMENTS *************************/
.comments-section_container {
  margin-top: 48px;
  padding-top: 40px;
  background: var(--white);
  border-top: 1px solid black;
}

.comments_container {
  padding: 16px 0px 92px 0px;
  gap: 16px;
}

.comment {
  width: 684px;
  gap: 8px;
  background: linear-gradient(117.5deg, rgba(218, 218, 218, 0.6) 76.5%, rgba(66, 138, 19, 0.6) 32.5%);
  padding: 24px 0px;
  border-radius: 4px;
  margin-top: 24px;
}

.comment_info {
  width: 70%;
  justify-content: space-between;
  padding-bottom: 4px;
  box-shadow: 0px 2px 0px black;
}

.comment_content {
  width: 68%;
}

.comment-input {
  width: 52em;
  height: 13em;
  resize: none;
}

.comment-submit_container {
  padding-top: 16px;
}

.leave-comment-form_container {
  width: 50em;
  background: linear-gradient(117.5deg, rgba(218, 218, 218, 0.6) 56.5%, rgba(66, 138, 19, 0.6) 32.5%);
  gap: 16px;
  padding: 24px;
  border-radius: 8px;
  box-shadow: 1px 1px 8px black;
}
.leave-comment-form_container div {
  display: flex;
  justify-content: center;
}
.leave-comment-form_container textarea {
  padding: 4px;
  border: none;
  background: white;
  border: 1px solid #dadada;
  resize: none;
}
.leave-comment-form_container textarea:focus {
  outline: none;
  box-shadow: 1px 1px rgba(66, 138, 19, 0.5), -1px -1px rgba(66, 138, 19, 0.8);
}

/******************* ADMIN GENERAL *************************/
.admin-table_container table {
  width: 68%;
  border-collapse: collapse;
  border: 1px solid var(--grey);
}
.admin-table_container table thead {
  background-color: var(--yellow);
}
.admin-table_container table thead th {
  padding: 8px;
}
.admin-table_container table tbody tr {
  background: var(--white);
}
.admin-table_container table tbody tr:nth-child(2n) {
  background-color: var(--grey);
}
.admin-table_container table td {
  text-align: center;
  padding: 8px;
}
.admin-table_container table .actions-btn_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

/* FIX DELETE BUTTON BUG */
.article-table_container .btn,
.comments-table_container .btn {
  padding: 16px;
  font-family: "Nunito", sans-serif;
  font-size: 1.6rem;
}

/******************* CATEGORIES *************************/
.category-form_container form,
.category-form_container form div {
  display: flex;
  gap: 16px;
}

.category-form_container form div {
  align-items: center;
}

.category-form_container form input {
  width: 15em;
}

/******************* ARTICLES *************************/
.article-admin-form_container form,
.article-admin-form_container form div {
  display: flex;
  flex-direction: column;
}

.article-admin-page_container {
  display: flex;
}

.article-admin-form_container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.article-admin-form_container form,
.comments-admin-form_container form {
  width: 50em;
  background: linear-gradient(117.5deg, rgba(245, 210, 75, 0.6) 56.5%, rgba(218, 218, 218, 0.6) 32.5%);
  gap: 16px;
  padding: 24px;
  border-radius: 8px;
  box-shadow: 1px 1px 8px black;
}
.article-admin-form_container form label,
.comments-admin-form_container form label {
  font-weight: 600;
}
.article-admin-form_container form div,
.comments-admin-form_container form div {
  gap: 12px;
}
.article-admin-form_container form div .new-article_input,
.comments-admin-form_container form div .new-article_input {
  padding: 4px;
  border: none;
  background: white;
  border: 1px solid #dadada;
  resize: none;
}
.article-admin-form_container form div .new-article_input:focus,
.comments-admin-form_container form div .new-article_input:focus {
  outline: none;
  box-shadow: 1px 1px rgba(245, 210, 75, 0.5), -1px -1px rgba(245, 210, 75, 0.8);
}
.article-admin-form_container form div #articles_category,
.comments-admin-form_container form div #articles_category {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

/******************* COMMENTS *************************/
.comments-table_container {
  margin-bottom: 6em;
}

.edit-btn_container {
  justify-content: center;
}

.comments-admin-form_container,
.comments-admin-form_container form,
.comments-admin-form_container #comments {
  display: flex;
  justify-content: center;
}

.comments-admin-form_container form {
  flex-direction: column;
}

.table-show_comment {
  outline: 1px solid var(--grey);
}

.home-header_image {
  height: 40em;
  position: relative;
  background-image: url("../images/home_header.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  padding-bottom: 6em;
}
.home-header_image h1 {
  font-family: "Tapestry", cursive;
  color: var(--white);
  font-size: 8rem;
  font-weight: bold;
  opacity: 0.9;
  text-shadow: 1px 1px 5px black;
  border-bottom: 5px solid rgba(254, 254, 254, 0.5);
}
.home-header_image .home-slogan_container {
  margin-left: 15em;
}
.home-header_image .home-slogan_container p {
  font-family: "Tapestry", cursive;
  font-size: 4rem;
  color: var(--white);
  text-shadow: 2px 1px 2px black;
}

.home-header_image::before {
  content: "";
  position: absolute;
  top: 2em;
  left: 2em;
  bottom: 2em;
  right: 2em;
  outline: 8px solid rgba(254, 254, 254, 0.5);
}

/******************* HOME GENERAL *************************/
.home_container {
  padding: 5em 0em 5em 0em;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.home_container .home-section-title_container {
  text-align: center;
}
.home_container .home-section-title_container h2 {
  font-family: "Tapestry", cursive;
}
.home_container p {
  line-height: 1.6em;
  text-align: justify;
}

.home_row {
  padding-top: 3em;
}

.to-activities_container,
.to-prices_container {
  background-color: var(--pale-grey);
}

.home-activity-card,
.activity-card_info,
.home-prices-card,
.level_container,
.level-column,
.level-list,
.home-blog-text_container {
  display: flex;
  flex-direction: column;
}

.home-activity-card,
.activity-card_info,
.level_container,
.level-column,
.home-blog-text_container {
  align-items: center;
}

.home-activity-card,
.activity-card-bottom,
.activity-card_info,
.central_row {
  justify-content: center;
}

/******************* TO ABOUT *************************/
.to-about_row {
  display: flex;
}

.to-about_item {
  flex: 1 0;
  min-width: 528px;
}

.to-about_picture {
  height: 18em;
  min-width: 542px;
}

/******************* TO ACTIVITIES *************************/
.to-activities_row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 2em;
}

.home-activity-card {
  max-width: 20em;
  padding-bottom: 16px;
  position: relative;
  flex: 1 0;
  background-color: var(--white);
  border-radius: 12px 12px 12px 12px;
  box-shadow: 1px 1px 5px var(--grey);
  transition: transform 0.3s ease;
}
.home-activity-card a {
  text-decoration: none;
  color: black;
}

.home-activity-card:hover {
  transform: scale(1.05);
}

.home-card_picture {
  width: 20em;
  height: 15em;
}
.home-card_picture img {
  border-radius: 12px 12px 0px 0px;
}

.activity-card-bottom {
  padding-top: 16px;
  display: flex;
}

.activity-card_info {
  padding: 0px 16px 40px 16px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 52px;
  gap: 16px;
  opacity: 0;
  background-color: rgba(245, 210, 75, 0.4);
  border-radius: 12px 12px 0px 0px;
  transition: 1s ease;
}

.activity-card_info:hover {
  opacity: 1;
}

/******************* PICTURE TRANSITION *************************/
.home-picture-transition {
  height: 32em;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/backpack-guy.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/******************* CENTRAL CONTENT *************************/
.central_row {
  position: relative;
  display: flex;
  padding-bottom: 8em;
}

.home-prices-card {
  max-width: 40em;
  min-width: 460px;
  height: 19em;
  gap: 16px;
  position: absolute;
  top: -10em;
  left: 2em;
  padding: 16px;
  background-color: rgba(242, 242, 242, 0.9);
  border-radius: 12px;
}
.home-prices-card .card-btn_container {
  display: flex;
  justify-content: end;
}

.level_container {
  width: 60em;
  margin-top: 12em;
  padding: 3em;
  background-color: var(--grey);
  border-radius: 12px;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/mountain_lake.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.level_container h2 {
  color: var(--white);
}

.level-columns_container {
  display: flex;
  align-items: baseline;
  padding-top: 2em;
}

.level-column {
  width: 15em;
  gap: 1em;
}
.level-column span {
  font-weight: bold;
  color: var(--white);
}

.fa-mountain {
  color: var(--green);
}

.easy-icon {
  font-size: 1.8em;
}

.medium-icon {
  font-size: 3em;
}

.hard-icon {
  font-size: 4.2em;
}

.level-list {
  gap: 16px;
  color: var(--white);
}

/******************* HOME BLOG *************************/
.home-blog-text_container {
  gap: 16px;
}

/******************* HOME END *************************/
.home-soon_container {
  font-family: Tapestry;
  font-size: 2em;
  padding: 0em;
}

/******************* HOME RESPONSIVE *************************/
@media screen and (max-width: 1058px) {
  .to-about_row {
    flex-wrap: wrap;
    gap: 3em;
  }
}
@media screen and (max-width: 884px) {
  .home-header_image h1 {
    font-size: 6rem;
  }

  .home-slogan_container p {
    font-size: 3rem;
  }

  .level_container {
    width: 44em;
  }
}
@media screen and (max-width: 748px) {
  .home-header_image h1 {
    font-size: 5rem;
  }

  .home-header_image .home-slogan_container {
    margin-left: 0em;
  }

  .home-slogan_container p {
    font-size: 2.5rem;
    margin: 0em;
  }

  .level_container {
    width: 32em;
  }
  .level_container h2 {
    text-align: center;
  }
  .level_container .level-columns_container {
    flex-direction: column;
    gap: 3em;
  }
  .level_container .level-columns_container .level-list {
    align-items: center;
  }
}
@media screen and (max-width: 582px) {
  .home-header_image {
    height: 21em;
  }

  .home-header_image h1 {
    font-size: 4rem;
  }

  .home-header_image .home-slogan_container p {
    font-size: 3rem;
  }

  .to-about_row {
    justify-content: center;
  }
  .to-about_row .to-about_item {
    min-width: 20em;
    max-width: 20em;
  }

  .home-prices-card {
    max-width: 20em;
    min-width: 20em;
    height: 25em;
    left: 0;
  }

  .level_container {
    margin-top: 18em;
  }
}
@media screen and (max-width: 480px) {
  .home-title_container {
    margin-top: 13em;
  }

  .home-header_image h1 {
    font-size: 3.8rem;
    margin: 0em 4em;
    text-align: center;
  }

  .home-slogan_container {
    margin-bottom: 4em;
  }

  .home-header_image .home-slogan_container p {
    font-size: 2.4rem;
    margin: 0em 4em 3em 4em;
  }

  .mountain-background {
    background-size: cover;
    background-repeat: no-repeat;
  }
}
@media screen and (max-width: 348px) {
  .to-about_row .to-about_item {
    min-width: 16em;
    max-width: 16em;
  }

  .home-activity-card {
    max-width: 16em;
  }
  .home-activity-card .home-card_picture {
    max-width: 16em;
    height: 11em;
  }
  .home-activity-card .activity-card_info p {
    display: none;
  }

  .home-picture-transition {
    height: 22em;
  }

  .home-prices-card {
    min-width: 18em;
    height: 28em;
  }
  .home-prices-card .yellow-btn_container a {
    padding: 12px 2px;
  }

  .level_container {
    width: 18em;
  }
}
/******************* ABOUT GENERAL *************************/
.general-content_container,
.content_container {
  display: flex;
}

/******************* ABOUT  *************************/
.general-content_container {
  padding: 32px 0px 48px 0px;
  flex-direction: column;
  gap: 20px;
}
.general-content_container p {
  line-height: 1.6em;
  text-align: justify;
}

.content_container {
  flex-wrap: wrap;
}

.column {
  flex: 1 593px;
}

.about-picture {
  height: 18em;
}

.about-page_container .title_container {
  display: flex;
  justify-content: center;
}

/******************* ABOUT RESPONSIVE *************************/
@media screen and (max-width: 1313px) {
  .content_container {
    gap: 3em;
  }
}
@media screen and (max-width: 396px) {
  .about-page_container h2 {
    padding-top: 1em;
  }

  .content_container {
    gap: 0em;
    justify-content: center;
  }
  .content_container .about-picture {
    min-width: 12em;
    height: 12em;
  }
}
/******************* ACTIVITIES GENERAL *************************/
.activities-icons_container,
.activities-icon_card,
.activity-card_container,
.activity-card,
.level-hiking {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/******************* ACTIVITIES *************************/
.main-activities_container {
  display: flex;
  justify-content: space-between;
}

.activities-aside_bar {
  height: 29em;
  position: sticky;
  top: 10em;
  padding-top: 16px;
}

.activities-icons_container {
  gap: 16px;
}
.activities-icons_container h2 {
  padding-bottom: 16px;
}

.activities-icon_card {
  gap: 16px;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  width: 8em;
  padding: 2em;
  background-color: var(--white);
  box-shadow: 0px 1px 4px var(--grey);
}
.activities-icon_card strong {
  color: black;
  transition: 0.2s ease;
}
.activities-icon_card i {
  font-size: 2.5em;
  color: var(--yellow);
  transition: 0.3s ease;
}

.activities-icon_card:hover i {
  color: var(--green);
}

.activity-card_container {
  margin: 5em 0;
  gap: 40px;
}

.activity-card {
  width: 40em;
  gap: 16px;
  border: 1px solid var(--grey);
  border-radius: 12px;
  box-shadow: 1px 1px 5px var(--grey);
  padding: 32px;
  transition: transform 0.3s ease;
  background-color: var(--white);
}
.activity-card p {
  line-height: 1.6em;
  text-align: justify;
}

.activity-card:hover {
  transform: scale(1.05);
}

.level-hiking_container {
  display: flex;
  gap: 40px;
  flex-direction: column;
}

.card-pictures_container {
  display: flex;
  gap: 16px;
}

.card_pictures {
  height: 12em;
  width: 18em;
}

.activities-horizontal_bar,
.level-horizontal_bar {
  display: none;
}

/******************* ACTIVITIES RESPONSIVE *************************/
@media screen and (max-width: 1294px) {
  .activities-aside_bar {
    display: none;
  }

  .activities-horizontal_bar,
.level-horizontal_bar {
    display: flex;
    justify-content: center;
  }

  .activities-horizontal_bar {
    margin-top: 2em;
  }

  .main-activities_container {
    display: flex;
    flex-direction: column;
  }

  .activities-icons_container {
    display: flex;
  }
  .activities-icons_container .icons_container {
    display: flex;
    gap: 8em;
  }

  .level-horizontal_bar .level-hiking_container {
    align-items: center;
  }
  .level-horizontal_bar .level-steps_container {
    display: flex;
    gap: 12em;
    align-items: end;
  }
}
@media screen and (max-width: 688px) {
  .activities-icons_container .icons_container {
    gap: 2em;
  }

  .level-hiking_container .level-steps_container {
    gap: 6em;
  }

  .activity-card {
    width: 24em;
  }
  .activity-card .card_pictures {
    height: 8em;
    width: 10em;
  }
}
@media screen and (max-width: 476px) {
  .activities-icons_container .icons_container {
    flex-direction: column;
  }

  .activity-card {
    width: 18em;
    gap: 2em;
  }
  .activity-card .card-pictures_container {
    flex-direction: column;
  }

  .level-hiking_container .level-steps_container {
    flex-direction: column;
    align-items: center;
    gap: 2em;
  }
}
.prices-page_container .title_container {
  display: flex;
  justify-content: center;
}

.prices-card_container {
  margin-top: 2em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 32px;
}

.prices-card,
.prices-tables_container,
.tables_container {
  display: flex;
  flex-direction: column;
}

.prices-card {
  flex: 1 0;
  max-width: 22em;
  align-items: center;
  gap: 16px;
  border: 1px solid var(--grey);
  box-shadow: 1px 1px 5px var(--grey);
  border-radius: 8px;
  padding: 44px;
  background-color: var(--white);
  transition: transform 0.3s ease;
}
.prices-card h3 {
  color: var(--blue);
  font-weight: bold;
  font-size: 2.2rem;
}
.prices-card p:last-of-type {
  display: flex;
  gap: 8px;
}
.prices-card span {
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--blue);
}

.prices-card:hover {
  transform: scale(1.05);
}

.prices-tables_container {
  margin-top: 2em;
}
.prices-tables_container .tables_container {
  margin-top: 2em;
  align-items: center;
  gap: 48px;
}
.prices-tables_container table {
  width: 50%;
  border-collapse: collapse;
  border: 1px solid var(--grey);
}
.prices-tables_container table caption {
  font-weight: bold;
  background-color: var(--white);
  border: 1px solid var(--grey);
  padding: 24px;
}
.prices-tables_container table thead {
  background-color: var(--yellow);
}
.prices-tables_container table thead th {
  text-align: left;
  padding: 8px;
}
.prices-tables_container table tbody tr {
  background: var(--white);
}
.prices-tables_container table tbody tr td:last-child {
  text-align: right;
}
.prices-tables_container table tbody tr:nth-child(2n) {
  background-color: var(--grey);
}
.prices-tables_container table td {
  padding: 8px;
}

.prices-info_container {
  margin-top: 4em;
}

/******************* PRICES RESPONSIVE *************************/
@media screen and (max-width: 1099px) {
  .prices-card_container {
    justify-content: center;
  }

  .prices-card {
    min-width: 33em;
  }
}
@media screen and (max-width: 572px) {
  .prices-card {
    min-width: 18em;
  }
}
/******************* BLOG GENERAL *************************/
.blog-btn_container,
.article-card_info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/******************* BLOG HOME *************************/
.articles-cards_container {
  display: flex;
  justify-content: space-evenly;
  padding: 48px 0px;
  gap: 100px;
}

.article-card {
  height: 26em;
  min-width: 328px;
  max-width: 356px;
  padding: 24px;
  background: var(--pale-grey);
  border-radius: 24px;
  box-shadow: 5px 5px 5px solid black;
  cursor: grab;
}
.article-card .blog-btn_container .admin-actions_container {
  display: flex;
  align-items: center;
  gap: 16px;
  padding-top: 2.4em;
}

.tns-item {
  box-shadow: 1px 1px 5px var(--grey);
  width: 24em;
}

.article-card_picture {
  height: 13em;
}

.article-card_info {
  gap: 32px;
  padding: 16px 0px;
}
.article-card_info .article-card_title {
  font-weight: bold;
  text-align: center;
}

.tns-visually-hidden {
  display: none;
}

.tns-outer button {
  display: none;
}

/******************* BLOG *************************/
.blog-articles-cards_container {
  padding: 3em 0em;
  display: flex;
  flex-wrap: wrap;
  gap: 4em;
  justify-content: center;
}

.blog-article-card {
  flex: 1 0;
  background: gray;
  padding: 26px;
  max-width: 24em;
  min-width: 22em;
  border-radius: 24px;
}

/******************* BLOG HOME RESPONSIVE *************************/
@media screen and (max-width: 1262px) {
  .articles-cards_container {
    gap: 0px;
  }

  .article-card {
    max-width: 284px;
    min-width: 284px;
    padding: 24px;
  }
}
@media screen and (max-width: 980px) {
  .article-card {
    max-width: 348px;
    min-width: 348px;
  }
}
@media screen and (max-width: 788px) {
  .article-card {
    max-width: 264px;
    min-width: 264px;
  }
}
@media screen and (max-width: 640px) {
  .article-card {
    max-width: 412px;
    min-width: 300px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 448px) {
  .article-card {
    margin: 0 24px;
  }
}
@media screen and (max-width: 348px) {
  .article-card {
    max-width: 272px;
    min-width: 272px;
    margin: 0 auto;
  }
}
/******************* BLOG RESPONSIVE *************************/
@media screen and (max-width: 400px) {
  .article-card-test {
    max-width: 22em;
    min-width: 16em;
    padding: 20px;
  }
}
/******************* CONTACT FORM GENERAL  *************************/
.contact-page_container,
.contact-form_container {
  height: 42em;
}

.contact-form_container,
.contact-form,
.contact-form div {
  display: flex;
}

.contact-form_container,
.contact-form {
  justify-content: center;
}

.contact-form,
.contact-form div {
  flex-direction: column;
}

/******************* CONTACT FORM *************************/
.contact-page_container {
  background-image: url("../images/mountain_refuge.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.contact-form_container {
  align-items: center;
}

.contact-form {
  width: 700px;
  height: 514px;
  position: relative;
  background-color: rgba(243, 243, 243, 0.94);
  gap: 16px;
  padding: 24px;
  border-radius: 8px;
  border: 1px solid #dadada;
}
.contact-form h1 {
  text-align: center;
}
.contact-form div {
  gap: 8px;
}
.contact-form div label {
  font-weight: bold;
  color: var(--green);
}
.contact-form .form-control {
  padding: 4px;
  border: none;
  background: white;
  border: 1px solid #dadada;
}
.contact-form .form-control:focus {
  outline: none;
  box-shadow: 1px 1px rgba(66, 138, 19, 0.8), -1px -1px rgba(66, 138, 19, 0.8);
}
.contact-form #contact_message {
  resize: none;
}

.contact-submit_container {
  align-items: center;
}

/*# sourceMappingURL=styles.css.map */
