{{ form_start(form) }}
{{ form_widget(form) }}
<div class="comment-submit_container">
  <button class="btn article-action_button">
    {{ button_label|default('Envoyer') }}
  </button>
</div>
{{ form_end(form) }}
